<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.aeris.aersensor"
    android:versionCode="2"
    android:versionName="1.0" >
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COURSE_LOCATION" />
	<uses-permission android:name="android.permission.BATTERY_STATS" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	
    <uses-sdk
        android:minSdkVersion="7"
        android:maxSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/cloudicon128x128"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Preferences"
            android:label="@string/app_settings">
	        <intent-filer>
	            <action android:name=".Preferences" />
	        </intent-filer>
        </activity>
        <activity
            android:name=".PreferencesNewerThan11"
            android:label="@string/app_settings">
	        <intent-filer>
	            <action android:name=".PreferencesNewerThan11" />
	        </intent-filer>
        </activity>
    </application>

</manifest>